[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "posix-ipc>=1.3.0",
]

[tool.uv.workspace]
members = [
    "main",
]
